{% extends 'base.html.twig' %}

{% block title %}Confirmation de Modification du Mot de Passe{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification du mot de passe réussie!</h1>
        <p>Votre mot de passe a été mis à jour avec succès.</p>
        <a href="{{ path('app_profil') }}">Retourner à mon profil</a>
    </div>
{% endblock %}
