{% extends 'base.html.twig' %}

{% block title %}Confirmation de la Facture{% endblock %}

{% block body %}
    <div class="container">
        <form method="POST" action="{{ path('app_subscription_payment_details') }}">
            <h1>Confirmation de la Facture</h1>
            <p>Abonnement : {{ subscription.name }}</p>
            <p>Prix : {{ subscription.price }}</p>
            <p>Date de fin : {{ subscription.endDate }}</p>
            <button type="submit" class="btn btn-primary">Confirmer et Procéder au Paiement</button>
        </form>
    </div>
{% endblock %}
