{% extends 'base.html.twig' %}

{% block title %}Confirmation de Facture{% endblock %}

{% block body %}
    <div class="container">
        <form method="POST" action="{{ path('app_subscription_payment_details') }}">
            <h1>Confirmation de Facture</h1>
            <p>Abonnement : {{ subscription.name }}</p>
            <p>Prix : {{ subscription.price }} €</p>
            <p>Date de fin : {{ subscription.endDate }}</p>
            <div class="form-checkbox">
                <label for="autoRenew">Renouvellement automatique :</label>
                <input type="checkbox" id="autoRenew" name="autoRenew" value="1">
            </div>
            <button type="submit" class="btn btn-primary">Confirmer et Procéder au Paiement</button>
        </form>
    </div>
{% endblock %}
